[project]
name = "tetra_rp"
version = "0.1.1"
description = "A Python library for distributed inference and serving of machine learning models"
authors = [
    { name = "Marut Pandya", email = "pandyamarut@gmail.com" },
    { name = "Patrick Rachford", email = "prachford@icloud.com" },
    { name = "Dean Quinanola", email = "dean.quinanola@runpod.io" },
]
readme = "README.md"
license = { text = "MIT" }
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
requires-python = ">=3.9,<3.13"

dependencies = [
    "cloudpickle>=3.1.1",
    "runpod>=1.7.9",
    "python-dotenv>=1.0.0",
    "orjson>=3.10.16"
]

[dependency-groups]
dev = [
    "black>=25.1.0",
    "pytest>=8.3.5",
]

[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"
